@import "tailwindcss";

button {
  cursor: pointer;
}

.textGradient {
    background: -webkit-linear-gradient(#ffa303, #acaa12);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}